body{
    text-decoration: none;
}
li{
    list-style-type: none;
}
a:hover { 
    color: rgb(249, 253, 3); 
    text-decoration: underline;   
    background-color: rgb(138, 137, 137);
    border-radius: 0.3em;
    padding: 5px;
}
